@import "../../../stew-library/styles/theme.scss";

.fieldInputContainer {
  border-bottom: $themeBorder;

  &:has(input:focus) {
    border: none;
    margin-bottom: $themeBorderWidth;
  }
}

.fieldMessage {
  padding-block-start: calc(1 / 2) * $themeSpacer;
  padding-inline: calc(1 / 2) * $themeSpacer;
  font-size: 0.675rem;
  font-weight: 700;
}

.fieldErrorMessage {
  color: red;
}

.formFooterContainer {
  @extend .rowContainer;
  justify-content: flex-end;
  padding: $themeSpacer;
}

.submitButton {
  font-weight: 700;
  font-size: 1.05rem;
  color: $themeButtonTextColor;
}
