.pageHeaderContainer {
  composes: item-container from global;
}

.pageHeader {
  composes: row-container from global;
  flex-grow: 1;
  padding: calc(3 / 2 * var(--theme-spacer));
  padding-block-start: calc(3 / 2 * var(--theme-spacer));
  background-color: var(--theme-background-color);
}

.viewSelectContainer {
  composes: item-container from global;
  justify-content: flex-start;
  flex-shrink: 1;
  flex-grow: 1;
}
