@import "../../../stew-library/styles/theme.scss";

.openaiContainer {
  @extend .itemContainer;
  align-items: flex-end;
  padding-block-end: calc(1 / 4) * $themeSpacer;
}

.openaiButton {
  padding: calc(1 / 4) * $themeSpacer;
}

.openaiIcon {
  width: 0.85em;
  height: 0.85em;
}

.inprogressOpenaiIcon {
  animation: spin 2s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  & path {
    fill: $themeDisabledColor;
  }
}
