.pageContainer {
  composes: item-container from global;
}

.pageContentContainer {
  composes: column-container from global;
  max-width: 512px;
  flex-basis: 100%;
}

.pageAccessibilityHeader {
  display: none;
}
