@import "../../stew-library/styles/theme.scss";

.fieldContainer {
  @extend .rowContainer;
  padding: $themeSpacer;
}

.formFooterContainer {
  @extend .rowContainer;
  justify-content: flex-end;
  padding: $themeSpacer;
}

.submitButton {
  font-weight: 700;
  font-size: 1.05rem;
  color: $themeButtonTextColor;
}
