@import "../../../../stew-library/styles/theme.scss";

.viewPageItemsContainer {
  @extend .columnContainer;
  padding: calc(3 / 2) * $themeSpacer;
  padding-block-end: 0;
}

.messageContainer {
  @extend .itemContainer;
  padding: 4 * $themeSpacer;
  padding-block-start: calc(19 / 4) * $themeSpacer;
}

.messageText {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: $themeDisabledColor;
}

.contentFooterContainer {
  @extend .itemContainer;
  justify-content: flex-start;
  padding-inline: $themeSpacer;
  padding-block-end: calc(5 / 2) * $themeSpacer;
}

.contentFooter {
  @extend .rowContainer;
  flex-grow: 1;
  align-items: baseline;
  border-top: solid 0.5px $themeTextBackgroundColor;
  border-radius: $themeBorderRadius;
  padding-inline: calc(1 / 2) * $themeSpacer;
  padding-block-start: 2 * $themeSpacer;
}

.footerLinkButtonContainer {
  padding-inline-end: 3 * $themeSpacer;
}

.footerLinkButton {
  color: grey;
  font-weight: 600;
  font-style: italic;
  font-size: calc(11 / 12) * 1rem;
}
