@import "../../../styles/theme.scss";

.inputContainer {
  @extend .rowContainer;
  flex-grow: 1;
  overflow: hidden;
  align-items: center;
  padding-inline: calc(1 / 2) * $themeSpacer;

  &:has(.textInput:focus) {
    @extend .themeFocusOutline;
  }
}

.textInput {
  @extend .defaultFont;
  font-size: inherit;
  font-weight: 700;
  font-style: italic;
  width: 0;
  flex-grow: 1;
  padding-inline-end: calc(5 / 4) * $themeSpacer;

  &::placeholder {
    color: $themeInteractiveGrey;
  }
}
