@import "../../../styles/theme.scss";

.inputContainer {
  @extend .rowContainer;
  @extend .themeBorder;
  flex-grow: 1;
  overflow: hidden;
  align-items: center;
  padding-inline: calc(1 / 2) * $themeSpacer;
  font-size: 18px;

  &:has(.textInput:focus) {
    @extend .themeFocusOutline;
  }
}

.textInput {
  @extend .defaultFont;
  font-size: inherit;
  font-weight: 700;
  font-style: italic;
  width: 0;
  flex-grow: 1;
  padding-inline-end: calc(5 / 4) * $themeSpacer;

  &::placeholder {
    color: $themeInteractiveGrey;
  }
}

.clearInputIcon {
  width: 0.9em;
  height: 0.9em;
}

.iconOutlineCircle {
  fill: transparent;
  stroke: black;
  stroke-width: 1.75;
}
