@import "../../../stew-library/styles/theme.scss";

.headerAddonContainer {
  @extend .itemContainer;
  align-items: flex-end;
  padding-block-end: calc(1 / 4) * $themeSpacer;
}

.assistButton {
  padding: calc(1 / 3) * $themeSpacer;
}

.assistIcon {
  width: 0.9em;
  height: 0.9em;
}

.inprogressAssistIcon {
  animation: spin 2s linear infinite;
  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  & path {
    fill: $themeDisabledColor;
  }
}
