@import "../../../styles/theme.scss";

.badgeBase {
  @extend .rowContainer;
  max-width: 100%;
  align-items: center;
  background-color: $themeTextBackgroundColor;
  border-radius: 3px;
  padding-inline: calc(1 / 2) * $themeSpacer;
  padding-block-start: calc(1 / 8) * $themeSpacer + 1px;
  padding-block-end: calc(1 / 8) * $themeSpacer;
}

.badgeLabel {
  @extend .textEllipsis;
  font-weight: 700;
  font-size: 1em;
}

.badgeLinkButton {
  @extend .rowContainer;
  max-width: 100%;
}

.badgeLinkIcon {
  margin-left: 4px;
  width: 1em;
  height: 1em;

  & path {
    fill: $themeInteractiveGrey;
    stroke: $themeInteractiveGrey;
    stroke-width: 0.25;
  }
}

.badgeListContainer {
  @extend .rowContainer;
  max-width: 100%;
}

.badgeList {
  @extend .rowContainer;
  max-width: 100%;
  flex-wrap: wrap;
}

.badgeListItem {
  @extend .itemContainer;
  max-width: 100%;
  justify-content: flex-start;
  margin-inline-end: $themeSpacer;
  margin-block-start: $themeSpacer;
}
